<!doctype html>
<html>
  <head>
    <title>Catscram</title>
    <style>
      .button {
          display: block;
          width: 115px;
          height: 25px;
          background: #4E9CAF;
          padding: 10px;
          text-align: center;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          line-height: 25px;
      }
    </style>
  </head>
  <body>
    {% include "status.html" %}
    {% block content %}{% endblock %}
  </body>
</html>
